<h1>Listing comments</h1>

<table>
  <tr>
    <th>Art</th>
    <th>User</th>
    <th>Message</th>
    <th>Digg</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.art %></td>
    <td><%=h comment.user_id %></td>
    <td><%=h comment.message %></td>
    <td><%=h comment.digg %></td>

    <td><%= link_to 'Destroy', art_comment_path(@art,comment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_art_comment_path(@art) %>